{
  "jobs": [
    {
      "functionLocation": "/jobs.js",
      "functionName": "syncAllCategoryMappings",
      "description": "Sync categories for updated videos",
      "executionConfig": {
        "cronExpression": "0 * * * *"
      }
    },
    {
      "functionLocation": "/jobs.js",
      "functionName": "deleteOldJobRuns",
      "description": "Delete job run records older than 30 days",
      "executionConfig": {
        "cronExpression": "30 */3 * * *"
      }
    }
  ]
}