{
  "jobs": [
    {
      "functionLocation": "/jobs.js",
      "functionName": "syncVideoCategories",
      "description": "Sync categories for updated videos",
      "executionConfig": {
        "cronExpression": "0 * * * *"
      }
    },
    {
      "functionLocation": "/jobs.js",
      "functionName": "syncRichContentCategories",
      "description": "Sync categories for updated RichContent items",
      "executionConfig": {
        "cronExpression": "0 * * * *"
      }
    }
  ]
}
